<%= content_for(:title, t('.title')) %>
<div class="bg-custom_color3 sm:py-5 lg:py-5">
  <div class="min-h-screen pt-20 md:px-8 mx-auto">
    <div class="relative">
      <%= form_with(model: @budgets_form, url: budgets_path, local: true) do |form| %>
        <% @plan_countries.each do |plan_country| %>
          <%= plan_country.country.name %>
          <% 5.times do |i| %>
            <%= form.fields_for :budgets_attributes, Budget.new(plan_country_id: plan_country.id), index: nil do |budget_form| %>
              <%= budget_form.hidden_field :plan_country_id, value: plan_country.id %>
              <div class="field">
                <%= budget_form.label :amount %>
                <%= budget_form.text_field :amount %>
              </div>
              <div class="field">
                <%= budget_form.label :description %>
                <%= budget_form.text_field :description %>
              </div>
              <div class="field">
                <%= budget_form.label :category_id, value: @categories[i].name %>
                <%= budget_form.text_field :category_id, value: @categories[i].id %>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <div class="actions">
          <%= form.submit 'Save' %>
        </div>
      <% end %>
    </div>
  </div>
</div>