<%= content_for(:title, t('.title')) %>
<div class="hero min-h-screen" style="background-image: url(<%= asset_path "beach-1852945.jpg" %>);">
  <div class="hero-overlay bg-opacity-20"></div>
  <div class="hero-content w-full ">
    <div class=' w-1/2 px-12 py-8 opacity-80 bg-custom_color2 rounded-lg'>
      <h1 class='text-black text-3xl font-bold border-b-2 py-2 mb-4 text-center'><%= t('.title') %></h1>
      <%= form_with model: @user, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class='form-control mb-5 '>
          <%= f.label :name, class:'block text-black font-semibold text-lg  mb-2' %>
          <%= f.text_field :name, placeholder: '名前', class:' appearance-none border rounded w-full py-2 px-3 text-black leading-tight focus:outline-none ' %>
        </div>
        <div class='form-control mb-5 '>
          <%= f.label :email,class:'block text-black text-lg font-semibold mb-2' %>
          <%= f.text_field :email, placeholder: '***@example.com', class:' appearance-none border rounded w-full py-2 px-3 text-black leading-tight focus:outline-none ' %>
        </div>
        <div class='form-control mb-5 '>
          <%= f.label :password, class:'block text-black text-lg font-semibold mb-2' %>
          <%= f.password_field :password, placeholder: 'パスワード', class:' appearance-none border rounded w-full py-2 px-3 text-black leading-tight focus:outline-none ' %>
        </div>
        <div class='form-control mb-5 '>
          <%= f.label :password_confirmation, class:'block text-black text-lg font-semibold mb-2' %>
          <%= f.password_field :password_confirmation, placeholder: 'パスワード確認', class:' appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none ' %>
        </div>
        <div class='mt-6 text-center'>
          <%= f.submit t('defaults.register'), class:'btn btn-ghost link link-hover hover:text-white font-bold text-3xl' %>
        </div>
      <% end %>
    </div>
  </div>
</div>