<div class='fixed top-0 left-0 w-full bg-custom_color2 opacity-90 z-20 navbar'>
  <div class='flex-1'>
    <%= link_to 'ROUND PLANNER', root_path, class:'btn btn-ghost text-white rounded link link-hover font-bold text-4xl opacity-80' %>
  </div>
  <div class='flex-none'>
    <%= link_to t('defaults.guest_login'), guest_login_path, class:'btn btn-ghost text-white rounded link link-hover font-semibold text-xl mr-10 opacity-80' %>
    <%= link_to t('defaults.login'), login_path, class:'btn btn-ghost text-white rounded link link-hover font-semibold text-xl mr-10 opacity-80' %>
    <%= link_to t('defaults.register'), new_user_path, class:'btn btn-ghost text-white rounded link link-hover font-semibold text-xl mr-10 opacity-80' %>
  </div>
</div>
<div class='fixed top-16 left-0 z-20 '>
  <%= render 'shared/flash_message' %>
</div>

