<div class='relative  top-0 left-0 w-full h-full z-0'>
  <div id='map'></div>
  <div class='absolute top-4 left-4 h-full z-10 justify-start items-center drop-shadow-lg opacity-95 '>
    <%= form_with model: plan, local: true do |f| %>
    <div class=' bg-custom_color3 p-3 rounded-lg'>
      <div class=" flex flex-col" >
        <div class='flex flex-col'>
          <%= render 'shared/error_messages', object: f.object %>
          <%= f.text_field :name, placeholder: Plan.human_attribute_name(:name), class:"input input-bordered rounded-lg w-full max-w-xs " %>
          <div class="flex flex-col">
            <div class="mt-2">
              <%= f.file_field :image, placeholder: "旅行画像",  id: 'image-upload', class:'file-input file-input-sm ' %>
            </div>
            <div class="image mt-2">
              <div class="w-20 rounded-lg" id="image-preview-container">
                <% if @plan.image.attached? %>
                  <%= image_tag @plan.image, size: '300x300' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-3">
          <input id="address" class="input input-bordered max-w-xs rounded-lg " placeholder="国名を入れてください">
          <input type="button" value="追加" onclick="putCode()" class='btn btn-primary rounded-lg hover:link '>
        </div>
        <div class='hidden'>
          <%= link_to_add_association 'add', f, :countries, id:'add', class:'btn btn-secondary hover hover:link',
              data: {
                      association_insertion_node: '#detail-association-insertion-point',
                      association_insertion_method: 'append',
                    } %>
        </div>
        <div class='flex flex-col mt-2  '>
          <h2 class='text-2xl font-semibold'><%= t('plans.new.countries') %></h2>
          <ol id='detail-association-insertion-point'>
            <%= f.fields_for :countries do |country| %>
              <%= render 'country_fields', f: country %>
            <% end %>
          </ol>
          <div class="mt-6">
            <div>
              <%= f.submit class:'btn btn-primary rounded-lg hover:link ' %>
            </div>
          </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<script>
  let input = document.querySelector('input[type="file"]#image-upload');
  let preview = document.createElement('img');

  preview.setAttribute('id', 'image-preview');
  preview.setAttribute('src', '');
  preview.setAttribute('alt', 'Image Preview');

  input.addEventListener('change', () => {
    let file = input.files[0];

    // ファイルを読み込む
    let reader = new FileReader();
    reader.addEventListener('load', () => {
      // 画像を表示する
      preview.setAttribute('src', reader.result);
    });
    reader.readAsDataURL(file);

    // プレビュー用の要素を追加する
    let previewContainer = document.querySelector('#image-preview-container');
    previewContainer.innerHTML = '';
    previewContainer.appendChild(preview);

  });
</script>
