<!-- product - start -->
<div class="card lg:w-10/12 w-2/3 lg:justify-center bg-base-100 shadow-xl rounded-lg ">
  <figure class="bg-gray-100 lg:h-48 h-30">
    <% if plan.image.attached? %>
      <%= link_to image_tag(plan.image, class:'h-full w-full object-cover'), plan_path(plan), class:'block h-full w-full' %>
    <% else %>
      <%= link_to image_tag('default-plan.webp', class:'h-full w-full object-cover'), plan_path(plan), class:'block h-full w-full' %>
    <% end %>
  </figure>
  <div class="card-body justify-start">
    <h2 class="card-title"><%= link_to plan.name, plan_path(plan), class:'rounded-lg bg-custom_color1 link link-hover text-xl py-2 px-2 ' %></h2>
    <div class="h-full">
      <% plan.countries.each do |country| %>
        <div class="inline-block whitespace-nowrap py-2 px-2 hover:bg-custom_color2 rounded-lg">
          <%= link_to country.name, plans_path(country_name: country.name), class: "block" %>
        </div>
      <% end %>
    </div>
    <div class="card-actions justify-end">
      <%= link_to plan.user.name, profile_path(plan.user), class:" rounded-lg bg-custom_color3 link link-hover py-2 px-2 " %>
    </div>
  </div>
</div>
<!-- product - end -->