 <div class="flex flex-col">

  <h1 class='bg-blue-200 m-auto text-5xl'>プラン作成</h1>
    <div class='flex flex-row'>
      <div id='map'></div>
      <%= form_with model: @plan, local: true do |f| %>
      <div>
        <div class="form-control flex flex-col">
          <div class=" shadow-lg rounded px-12 pt-6 pb-8 mb-4 bg-base-100">
            <input id="address" class="border py-3 px-10 text-gray-700" placeholder="国名を入れてください">
            <input type="button" value="Search" onclick="codeAddress()" class='hidden' >
            <input type="button" value="お試し" onclick="testCode()" >
          </div>
          <div class=' flex flex-row'>
            <div>
              <%= f.label :plan_name, class:"block text-gray-700 font-normal mb-2" %>
              <%= f.text_field :name, placeholder: 'plan_name', class:" py-2 px-3  text-gray-700 " %>
            </div>
            <div id='before_add' class='hidden'>
            <%= link_to_add_association 'add', f, :countries, id:'add', class:'btn btn-secondary hover hover:link', 
                  data: {
                          association_insertion_node: '#detail-association-insertion-point',
                          association_insertion_method: 'append',
                           } %>
            </div>
          </div>
        </div>   
        <div class="overflow-x-auto">
          <table class="table w-full">
            <thead>
              <tr>
                <th>country name</th>
                <th>latitude</th>
                <th>longitude</th>
              </tr>
            </thead>
            <tbody id='detail-association-insertion-point'>
                <%= f.fields_for :countries do |country| %>
                  <%= render 'country_fields', f: country %>
                <% end %>
            </tbody>
          </table>
                  <div class="form-control mt-6 flex flex-row justify-center">
                    <div>
                      <%= f.submit 'build plan', class:'btn btn-primary px-4 py-2 rounded ' %>
                    </div>
                  </div>
          <% end %>
        </div>
      </div>
    </div>
</div> 

<style>
  #map {
    height: 700px;
    width: 80%;
  }
</style>

 <script>
  let map
  let geocoder
  let country_name
  let contry_latitude
  let country_longitude
  let template
  

  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 36.204824, lng: 138.252924}, // 日本の位置を初期値とする
      zoom: 2,
    });
  }

  function codeAddress(){
    let inputAddress = document.getElementById('address').value;
    let add = document.getElementById('add');

    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      if (status == 'OK') {
        // map.setCenter(results[0].geometry.location); 取得したマーカーを中心にセットし直すので、コメントアウト
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
        country_name = results[ 0 ].formatted_address.split(/、|\s/, 1);
        country_latitude = results[ 0 ].geometry.location.lat();
        country_longitude = results[ 0 ].geometry.location.lng();
        console.log(results);
        
        add.outerHTML = `<a id="add" class="btn btn-secondary hover hover:link add_fields" data-association-insertion-node="#detail-association-insertion-point" data-association-insertion-method="append" data-association="country" data-associations="countries" data-association-insertion-template="<tr id='country_fields' class= 'nested-fields'>
        <td><input placeholder=&quot;country_name&quot; class=&quot;country_name py-2 px-3 text-gray-700 &quot; type=&quot;text&quot; name=&quot;plan[countries_attributes][new_countries][name]&quot; id=&quot;plan_countries_attributes_new_countries_name&quot; value=&quot;${country_name}&quot; />
        </td>
        <td><input placeholder=&quot;latitude&quot; class=&quot;latitude py-2 px-3 text-gray-700 &quot; type=&quot;text&quot; name=&quot;plan[countries_attributes][new_countries][latitude]&quot; id=&quot;plan_countries_attributes_new_countries_latitude&quot; value=&quot;${country_latitude}&quot; />
        </td>
        <td><input placeholder=&quot;longitude&quot; class=&quot;longitude py-2 px-3 text-gray-700&quot; type=&quot;text&quot; name=&quot;plan[countries_attributes][new_countries][longitude]&quot; id=&quot;plan_countries_attributes_new_countries_longitude&quot; value=&quot;${country_longitude}&quot; />
        </td>
        <td><input value=&quot;false&quot; autocomplete=&quot;off&quot; type=&quot;hidden&quot; name=&quot;plan[countries_attributes][new_countries][_destroy]&quot; id=&quot;plan_countries_attributes_new_countries__destroy&quot; /><a class=&quot;remove_bty btn btn-danger link link-hover remove_fields dynamic&quot; href=&quot;#&quot;>remove</a>
        </td>
        </tr>
        " href="#">add</a>`;
    });
  }

  function testCode(){
    let promise = new Promise((resolve) => {
     resolve(codeAddress());
    })
    .then(() => {
      setTimeout(() => {
        document.getElementById('add').click();
      },200);
    })
    .then(() => {
      document.getElementById('address').value ='';
    })
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap&libraries=places&language=ja" async defer>
</script> 
