<div class="flex flex-col">
  

  <h1 class='bg-blue-200 m-auto text-5xl'>プラン作成</h1>
    <div class='flex flex-row'>
      <%
=begin%>
 <div id='map'></div> 
<%
=end%>
      <%= form_with model: @plan, local: true do |f| %>
      <div>
        <div class="form-control flex flex-col">
          <div class=" shadow-lg rounded px-12 pt-6 pb-8 mb-4 bg-base-100">
            <input id="address" class="border py-3 px-10 text-gray-700" placeholder="国名を入れてください">
          </div>
          <div class=' flex flex-row'>
            <div>
              <%= f.label :plan_name, class:"block text-gray-700 font-normal mb-2" %>
              <%= f.text_field :name, placeholder: 'plan_name', class:" py-2 px-3  text-gray-700 " %>
              <%= link_to 'add country', '#', id: 'add-country', class:'btn btn-secondary hover hover:link' %>
            </div>
          </div>
        </div>   
        <div class="overflow-x-auto">
          <table class="table w-full">
            <thead>
              <tr>
                <th>country name</th>
                <th>latitude</th>
                <th>longitude</th>
                <th>longitude</th>
              </tr>
            </thead>
            <tbody>
                <%= f.fields_for :countries do |country| %>
                  <div class= 'field'>
                    <tr>
                      <td>
                        <%= country.text_field :name, placeholder: 'country_name', id: "plan_countries_attributes_0_name" ,class:"py-2 px-3 text-gray-700 " %>
                      </td>
                      <td>
                        <%= country.text_field :latitude, placeholder: 'latitude', id: "plan_countries_attributes_0_latitude" , class:"py-2 px-3 text-gray-700 " %>
                      </td>
                      <td>
                        <%= country.text_field :longitude, placeholder: 'longitude', id: "plan_countries_attributes_0_longitude" , class:"py-2 px-3 text-gray-700" %>
                      </td>
                      <td>
                        <%= link_to 'remove', '#', class: 'remove btn btn-secondary hover hover:link' %>
                      </td>
                    </tr>
                  </div>
                  <div id="countries"></div>
                <% end %>
            </tbody>
          </table>
                  <div class="form-control mt-6 flex flex-row justify-center">
                    <div>
                      <%= f.submit 'build plan', class:'btn btn-primary px-4 py-2 rounded ' %>
                    </div>
                  </div>
          <% end %>
        </div>
      </div>

      </div>
    </div>
</div>

    
<%
=begin%>
 <style>
  #map {
    height: 700px;
    width: 80%;
  }

</style> 
<%
=end%>

<script>
  //field_forの追加アクション
  // var fieldIndex = 1;

  $(document).on('click','#add-country', function() {
    console.log("hi");
    // フィールドを追加するためのHTMLを生成
    // var html = '<div class="field"><tr><input type="text" name="plan[countries_attributes][' + fieldIndex + '][name]" id="plan_countries_attributes_' + fieldIndex + '_name"></tr><tr><input type="text" name="plan[countries_attributes][' + fieldIndex + '][latitude]" id="plan_countries_attributes_' + fieldIndex + '_latitude"></tr><tr><input type="text" name="plan[countries_attributes][' + fieldIndex + '][longitude]" id="plan_countries_attributes_' + fieldIndex + '_longitude"></tr><tr><a href="#" class="remove">Remove</a></tr></div>';
    // // フィールドを追加
    // $('#countries').append(html);
    // fieldIndex++;
  });

  $('.remove').on('click', function() {
    // 削除するフィールドを取得
    var field = $(this).closest('.field');
    // フィールドを削除
    field.remove();
    fieldIndex--;
  });
</script>

<%
=begin%>
 <script>
  let map
  let geocoder

  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 36.204824, lng:138.252924}, // 日本の位置を初期値とする
      zoom: 2,
    });
  }

  function codeAddress(){
    let inputAddress = document.getElementById('address').value;

    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
        // document.getElementById('plan_countries_attributes_0_name').value = "国名:" + results[ 0 ].formatted_address.split(/、|\s/, 1);
        // document.getElementById('plan_countries_attributes_0_latitude').value = "緯度:" + results[ 0 ].geometry.location.lat();
        // document.getElementById('plan_countries_attributes_0_longitude').value = "経度:" + results[ 0 ].geometry.location.lng();
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });   
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap&libraries=places&language=ja" async defer>
</script>  
<%
=end%>
