<div class="flex flex-col">
  <h1 class='bg-blue-200 m-auto text-5xl'>プラン詳細</h1>
    <div class='flex flex-row'>
      <div id='map'></div>
      <div>
        <div class="form-control flex flex-col">

          <div class=' flex flex-row'>
            <div>


            </div>
            <div class='hidden'>

            </div>
          </div>
        </div>   
        <div class="overflow-x-auto">
          <h2 class='text-size'><%= @plan.name %></h2>
          <table class="table w-full">
            <thead>
              <tr>
                <th>country name</th>
                <th>latitude</th>
                <th>longitude</th>
              </tr>
            </thead>
            <tbody id=''>
                <% @countries.each do |country| %>
              <tr>
                <td><%= country.name %></td>
                <td><%= country.latitude %></td>
                <td><%= country.longitude %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
                  <div class="form-control mt-6 flex flex-row justify-center">
                    <div>

                    </div>
                  </div>

        </div>
      </div>
    </div>
</div> 


<style>
  #map {
    height: 700px;
    width: 60%;
  }
</style>

<script>

  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 36.204824, lng: 138.252924}, // 日本の位置を初期値とする
      zoom: 2,
    });
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap&libraries=places&language=ja" async defer>
</script> 