<%= content_for(:title, t('.title')) %>
<div class="bg-custom_color3 sm:py-5 lg:py-5">
  <div class="min-h-screen pt-20 md:px-8 mx-auto">
    <div class='relative  top-0 left-0 w-full h-full z-0'>
        <div id='map'></div>
      <div class='absolute top-4 left-4 h-full z-10 justify-start items-center drop-shadow-lg opacity-95 '>
        <div class=" bg-custom_color3 p-3 rounded-lg">
          <div class="form-control flex flex-col">
            <div class=' flex flex-col'>
              <div class=''>
                  <h1 class='text-2xl '><%= @plan.name %></h1>
              </div>
              <div class='flex flex-row mt-2'>
                <% if current_user.own?(@plan) %>
                  <%= link_to t('defaults.edit'), edit_plan_path(@plan), class:' btn btn-primary rounded-lg link link-hover ' %>
                  <%= button_to t('defaults.delete'), plan_path(@plan), method: :delete , class:' btn btn-primary rounded-lg link link-hover ml-2 ' %>
                <% end %>
                <%= link_to t('defaults.back'), plans_path, class:' btn btn-primary rounded-lg link link-hover ml-2' %>
              </div>
            </div>
            <div class='flex flex-col mt-2 ml-4'>
              <h2 class='text-2xl '><%= t('plans.new.countries') %></h2>
              <% @countries.each do |country| %>
              <ol class='mt-3 ml-4 text-lg'><%= country.name %></ol>
              <% end %>
            </div>
              <%= link_to t('plans.show.to_safety_page'), visa_path(@plan.plan_countries.ids.first), class:' btn btn-primary rounded-lg link link-hover mt-5' %>
              <% if current_user.own?(@plan) %>
                <%= link_to "ツイッターで共有", "https://twitter.com/intent/tweet?text=#{@plan.name}を計画!%0a#{@countries.map{|country| country.name}.join(",")}へ行く予定!%0a%23RoundPlanner %23バックパッカー%0a&url=#{request.url}", class:' btn btn-primary rounded-lg link link-hover mt-5', target: '_blank' %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

<style>
  #map {
    height: 900px;
    width: 100%;
  }
</style>

<script>
  let countries = gon.countries;
  let mylatlng_data = [];

  for(let i = 0; i < countries.length ; i++){
    mylatlng_data.push([countries[i].latitude, countries[i].longitude]);
  }

  function initMap(){

    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 36.204824, lng: 138.252924}, // 日本の位置を初期値とする
      zoom: 2.7,
      zoomControl: false,
      mapTypeControl: false,
      scaleControl: false,
      streetViewControl: false,
      rotateControl: false,
      fullscreenControl: false
    });
    
    for(let i=0; i < mylatlng_data.length ; i++){
       let marker = new google.maps.Marker({
        map: map,
        position: new google.maps.LatLng(mylatlng_data[i][0], mylatlng_data[i][1]),
      });
      marker.setMap(map);
    };
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap&libraries=places&language=ja" async defer>
</script> 