<%= content_for(:title, t('.title')) %>
<div class="bg-gray-400 sm:py-5 lg:py-5">
  <div class="min-h-screen pt-20 md:px-8 mx-auto">
    <div class='relative  top-0 left-0 w-full h-full z-0'>
        <div id='map'></div>
      <div class='absolute top-0 left-0  h-full z-10 justify-start items-center opacity-70'>
        <div class="form-control flex flex-col">
          <div class=' flex flex-col'>
            <div class=''>
                <h1 class='text-3xl font-bold font-gray-800 '><%= @plan.name %></h1>
            </div>
            <div class='flex flex-row'>
              <% if current_user.own?(@plan) %>
                <%= link_to t('defaults.edit'), edit_plan_path(@plan), class:' btn btn-ghost rounded link link-hover bg-slate-300' %>
                <%= button_to t('defaults.delete'), plan_path(@plan), method: :delete , class:' btn btn-ghost rounded link link-hover bg-slate-300 ml-2 ' %>
              <% end %>
              <%= link_to t('defaults.back'), plans_path, class:' btn btn-ghost rounded link link-hover bg-slate-300 ml-2' %>
            </div>
          </div>
          <div class='flex flex-col mt-2 ml-4 bg-gray-200 '>
            <h2 class='text-2xl font-semibold'><%= t('plans.new.countries') %></h2>
            <% @countries.each do |country| %>
            <li class='mt-2 mr-2 underline text-xl'><%= country.name %></li>
            <% end %>
          </div>
          <% if current_user.own?(@plan) %>
            <%= link_to t('plans.show.to_safety_page'), plan_plan_country_path(@plan, @plan.plan_countries.ids.first), class:' btn btn-ghost rounded link link-hover bg-slate-300 mt-5' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div> 

<style>
  #map {
    height: 900px;
    width: 100%;
  }
</style>

<script>
  let countries = gon.countries;
  let mylatlng_data = [];

  for(let i = 0; i < countries.length ; i++){
    mylatlng_data.push([countries[i].latitude, countries[i].longitude]);
  }

  function initMap(){

    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 36.204824, lng: 138.252924}, // 日本の位置を初期値とする
      zoom: 2.7,
      zoomControl: false,
      mapTypeControl: false,
      scaleControl: false,
      streetViewControl: false,
      rotateControl: false,
      fullscreenControl: false
    });
    
    for(let i=0; i < mylatlng_data.length ; i++){
       let marker = new google.maps.Marker({
        map: map,
        position: new google.maps.LatLng(mylatlng_data[i][0], mylatlng_data[i][1]),
      });
      marker.setMap(map);
    };
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap&libraries=places&language=ja" async defer>
</script> 